%tr
  %td= user.id
  %td= link_to user.email, edit_backend_user_path(user)
  %td= l user.created_at, format: :long
  %td= roles_for user
  %td
    = link_to icon_with_text('pencil', t('.edit')), edit_backend_user_path(user), class: 'btn btn-default btn-xs'
    = link_to_delete t('.cancel'), backend_user_path(user), t('mybookings.delete_confirmation'), class: 'btn btn-default btn-xs'
