= title

%p.lead= t('.email', user_email: @user.email)

= simple_form_for @user, url: backend_user_path do |f|
  .row
    .col-xs-12.col-sm-6
      = f.input :first_name
    .col-xs-12.col-sm-6
      = f.input :last_name
  .panel.panel-default
    .panel-heading
      = f.label :roles, label: t('.roles')
    .panel-body
      = f.input :roles, as: :check_boxes, collection: @valid_roles, checked: @user.roles, label: false
  .panel.panel-default
    .panel-heading
      = f.label :mybookings_resource_types, label: t('.managed_resource_types')
    .panel-body
      = f.association :resource_types, as: :check_boxes, hint: t('.resource_types_hint'), label: false

  = f.button icon_with_text('ok', t('.save_user')), class: 'btn btn-primary'
