= title

= content_for :actions do
  .row
    .col-xs-4.col-md-4
      = link_to icon_with_text('plus', t('.new_user')), new_backend_user_path, class: 'btn btn-primary'
    .col-xs-8.col-md-8
      .text-right
        = form_tag backend_users_path, method: 'get', id: 'user-search-form', class: 'form-inline' do
          .input-group
            = text_field_tag :search, params[:search], placeholder: t('.search_placeholder'), class: 'form-control'
            .input-group-btn
              = button_tag t('.search'), class: 'btn btn-default', type: :submit

= table_for @users, 'mybookings/backend/users/user', ['user.id', 'user.email', 'user.created_at', 'user.roles'], 'table-users'

.text-center
  = paginate @users, views_prefix: 'mybookings'
