= render_model_base_errors f.object

= f.input :name
= f.input :extension, as: :select, collection: available_resource_types_extensions, include_blank: false, default: 'DefaultExtension'
.panel.panel-default
  .panel-heading
    = f.label :roles, label: t('.roles')
  .panel-body
    = f.input :roles, as: :check_boxes, collection: @valid_roles, checked: @resource_type.roles, label: false
