.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        - if asset_exist? 'mybookings/logo.png'
          .header-logo
            = image_tag 'mybookings/logo.png'
        = link_to t('mybookings.app_name'), mybookings.root_path

    - if user_signed_in?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if @current_user.has_any_role? :admin, :manager
            %li= link_to icon_with_text('cog', t('.manage')), backend_resources_path
          %li= link_to icon_with_text('user', t('.you_are_logged_in_as', email: @current_user.email)), '#'
          %li= link_to icon_with_text('log-out', t('.sign_out')), destroy_user_session_path, method: :delete
