- booking.events.each do |event|
  %tr{ class: bootstrap_class_for(event.status) }
    %td= event.resource_name
    %td= t("bookings.statuses.#{event.status}")
    %td= l event.start_date, format: :long
    %td= l event.end_date, format: :long
    %td
      = show_specific_actions_for event
      - if event.pending?
        = link_to_delete t('.cancel_booking'), event_path(event.id), t('delete_confirmation'), class: 'btn btn-default btn-xs'
      - if event.expired? && !event.feedback.blank?
        = link_to t('.send_feedback'), event_edit_feedback_path(event.id), class: 'btn btn-default btn-xs'
