%tr{ class: "booking-#{booking.id}" }
  %td= booking.resource_name
  %td= booking.start_date
  %td= booking.end_date
  %td
    = link_to_delete t('.cancel_booking'), booking_path(booking.id), t('delete_confirmation'), class: 'btn btn-default btn-xs'