= title

= simple_form_for @booking, html: { class: 'form-vertical' } do |f|
  = f.input :resource_id, as: :select, collection: @resources
  = f.input :start_date, as: :datetimepicker
  = f.input :end_date, as: :datetimepicker
  = f.submit t('.create_booking'), class: 'btn btn-primary'
