= title

- if @resource_types.any?
  = table_for @resource_types, :id, :name, :resources_number

  = content_for :actions do
    = link_to icon_with_text('plus', t('.new_resource_type')), new_admin_resource_type_path, class: 'btn btn-primary'

- else
  .lead
    %p= t('.no_resource_types')
