%dl.panel{ class: "panel-default resource-type-#{booking.resource_type.name.parameterize}", id: "booking-#{booking.id}" }
  .panel-heading
    .row
      .col-xs-7
        = icon_with_text('envelope', t('.title', created_at: l(booking.created_at, format: :long)))
      .col-xs-5.text-right
        - action_buttons_button_classes = 'btn btn-default btn-xs'
        - unless booking.has_pending_events?
          - action_buttons_button_classes = "#{action_buttons_button_classes} disabled"

        - if booking.editable?
          = link_to t('.edit_booking'), edit_booking_path(booking.id), class: action_buttons_button_classes

        = link_to_delete t('.cancel_booking'), booking_path(booking.id), t('mybookings.delete_confirmation'), class: action_buttons_button_classes
  .panel-body
    .row
      .events
        = render booking.limit_recent_events_to 4
      - if booking.has_more_than? 4
        .more-link.col-xs-12
          = link_to t('.load_more_events'), booking_events_path(booking.id), remote: true
