= title

.row
  .col-xs-12.col-sm-6
    .well
      %h4= t('.resource_type')
      %p= @booking.resource_type_name

      %h4= t('.events', count: @booking.events_count)
      .row
        - @booking.events.each do |event|
          .col-xs-12.col-sm-6
            .panel.panel-default
              .panel-body
                %p
                  %span.label{ class: "label-#{bootstrap_class_for(event.status)}" }= t("bookings.statuses.#{event.status}")
                %p= t('.resource_name', resource_name: event.resource_name)
                %p
                  = t('.start_date', start_date: l(event.start_date, format: :long))
                  %br
                  = t('.end_date', end_date: l(event.end_date, format: :long))

  .col-xs-12.col-sm-6
    = simple_form_for @booking, url: booking_path(@booking) do |f|
      = render partial: "resource_type_extension_#{@booking.resource_type_extension.downcase}_edit", locals: { form: f }
      = f.button icon_with_text('ok', t('.update_booking')), class: 'btn btn-primary'
