= title

= content_for :actions do
  = link_to icon_with_text('plus', t('.new_booking')), new_booking_path, class: 'btn btn-primary'

- if @bookings.any?
  - @bookings.each do |resource_type, bookings|
    - if bookings.any?
      %h3= resource_type.name
      = render bookings

- else
  %p.lead= t('.no_bookings')
