= title

= content_for :actions do
  .btn-group
    %button.btn.btn-primary.dropdown-toggle{ data: { toggle: 'dropdown' } }
      = t('.new_booking')
      %span.caret
    %ul.dropdown-menu
      - @resource_types.each do |resource_type|
        %li= link_to resource_type.name, resource_type_bookings_new_path(resource_type)

.bookings-list
  - if @bookings.any?
    - @bookings.each do |resource_type, bookings|
      - if bookings.any?
        %h3= resource_type.name
        = render bookings

  - else
    %p.lead= t('.no_bookings')
