- if @resource_type.nil?
  = title
- else
  = title t('.title_with_resource_type_name', resource_type_name: @resource_type.name)

.row
  .col-xs-12.col-sm-6
    = simple_form_for [@resource_type, @booking],
        url: resource_type_bookings_path(@resource_type, @booking),
        data: { behavior: 'dynamic-form' } do |f|

      = render_model_base_errors f.object

      .panel.panel-default
        .panel-body

          = f.input :resource_type_id, as: :hidden
          = f.association :proposed_resource, collection: @resources, include_blank: false, label_method: :name_prefixed_with_resource_type, input_html: { class: 'js-booking-resource-id' }

          .row
            .col-xs-12.col-sm-6
              = f.input :start_date, as: :datetimepicker, input_html: { class: 'js-booking-start-date' }
            .col-xs-12.col-sm-6
              = f.input :end_date, as: :datetimepicker, input_html: { class: 'js-booking-end-date' }

          .row
            .col-xs-12.col-sm-6
              = f.input :recurrent_type,
                  collection: recurrent_types_list,
                  as: :select,
                  include_blank: t('mybookings.bookings.recurrent_types.no_repeat'),
                  selected: '',
                  hint: t('mybookings.bookings.hints.recurring_hint')
            .col-xs-12.col-sm-6.js-dynamic-form-element-to-hide
              = f.input :until_date,
                  as: :datetimepicker,
                  hint: t('mybookings.bookings.hints.until_date_hint'),
                  input_html: { data: { 'dynamic-form-disables-with': '#booking_recurrent_type=' } }

          = f.input :comment, as: :text, input_html: { rows: 3 }, hint: t('mybookings.bookings.hints.comment_hint')

      = render partial: "resource_type_extension_#{@booking.resource_type_extension.downcase}_new", locals: { form: f }

      = f.button icon_with_text('ok', t('.create_booking')), class: 'btn btn-primary'

  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-body
        %h4= t('.calendar_title')
        %p= t('.calendar_description')
        %hr
        #calendar

:coffeescript
  Mybookings.AvailabilityCalendar.render('#calendar', '.js-booking-resource-id', '.js-booking-start-date', '.js-booking-end-date', "#{I18n.locale.to_s}")
