- if @resource_type.nil?
  = title
- else
  = title t('.title_with_resource_type_name', resource_type_name: @resource_type.name)

.row
  .col-xs-12.col-sm-6
    = simple_form_for [@resource_type, @booking], url: resource_type_bookings_path(@resource_type, @booking) do |f|
      = render_model_base_errors f.object

      .panel.panel-default
        .panel-body

          = f.input :resource_type_id, as: :hidden
          = f.input :resource_id, collection: @resources, include_blank: false, label_method: :name_prefixed_with_resource_type

          .row
            .col-xs-12.col-sm-6
              = f.input :start_date, as: :datetimepicker
            .col-xs-12.col-sm-6
              = f.input :end_date, as: :datetimepicker

          .row
            .col-xs-12.col-sm-6
              = f.input :recurrent_type, collection: recurrent_types_list, as: :select, include_blank: false, hint: t('.recurring_hint')
            .col-xs-12.col-sm-6
              = f.input :until_date, as: :datetimepicker, hint: t('.until_date_hint')

          = f.input :comment, as: :text, input_html: { rows: 3 }, hint: t('.comment_hint')

      = render partial: "resource_type_extension_#{@booking.resource_type_extension.downcase}", locals: { form: f }

      = f.button icon_with_text('ok', t('.create_booking')), class: 'btn btn-primary'

  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-body
        %h4= t('.calendar_title')
        %p= t('.calendar_description')
        %hr
        #calendar

:coffeescript
  $ ->
    new Calendar('#calendar', '#booking_resource_id', '#{I18n.locale.to_s}')
