= title t('.title', type_name: @resource_type.name)

.row
  .col-xs-12.col-sm-4
    = simple_form_for @booking, url: bookings_path, method: :post do |f|
      = render_model_base_errors f.object

      = f.input :resource_type_id, as: :hidden
      = f.input :resource_id, collection: @resources, include_blank: false, label_method: :name_prefixed_with_resource_type
      = f.input :start_date, as: :datetimepicker
      = f.input :end_date, as: :datetimepicker
      = f.input :recurrent_type, collection: recurrent_types_list, as: :radio_buttons, hint: t('.recurring_hint')
      = f.input :until_date, as: :datetimepicker
      = f.input :comment, as: :text, input_html: { rows: 5 }, hint: t('.comment_hint')
      = f.button icon_with_text('ok', t('.create_booking')), class: 'btn btn-primary'

  .col-xs-12.col-sm-8
    #calendar

:javascript
  $(document).ready(function() {
    var calendar = new Calendar('#calendar', '#booking_resource_id', '#{I18n.locale.to_s}')
  });
