= title(t('.title', booking_id: @booking.id))

.row
  .col-xs-12
    .well
      .row
        .col-xs-12.col-sm-3
          %h4= t('.resource_type')
          %p= @booking.resource_type_name

        .col-xs-12.col-sm-3
          %h4= t('.creation_date')
          %p= l(@booking.created_at, format: :long)

        .col-xs-12.col-sm-6
          %h4= t('.comment')
          - unless @booking.comment.blank?
            %p= @booking.comment
          - else
            %p
              %em= t('.no_comments')

      %hr

      %h4= t('.events')
      .row
        .booking-events
          - @booking.latest_events(4).each do |event|
            = render event

        - if @booking.events_count_greater_than?(4)
          .col-xs-12
            = link_to t('.load_all_events'), booking_events_path(@booking), class: 'link-show-all-events', remote: true

  .col-xs-12
    = simple_form_for @booking, url: booking_path(@booking) do |f|
      = render partial: "resource_type_extension_#{@booking.resource_type_extension.downcase}_edit", locals: { form: f }
      = f.button icon_with_text('ok', t('.update_booking')), class: 'btn btn-primary'

  - if @booking.has_pending_events?
    .col-xs-12
      %hr
      %h4= t('.cancel_booking')
      %p= t('.cancel_booking_description')
      = link_to_delete t('.cancel_booking'), booking_path(@booking), t('mybookings.delete_confirmation'), class: 'btn btn-default'
