= title

- if @resource_types.any?
  = table_for @resource_types, ['resource_type.id', 'resource_type.name', 'resource_type.resources_number'], 'table-resources-type'

  = content_for :actions do
    = link_to icon_with_text('plus', t('.new_resource_type')), new_backend_resource_type_path, class: 'btn btn-primary'

- else
  .lead
    %p= t('.no_resource_types')
    %p= link_to icon_with_text('plus', t('.new_resource_type')), new_backend_resource_type_path, class: 'btn btn-primary'
