= title

= simple_form_for @resource_type, url: backend_resource_types_path do |f|
  = render_model_base_errors f.object

  = f.input :name
  = f.input :extension
  = f.button icon_with_text('ok', t('.create_resource_type')), class: 'btn btn-primary'
