- booking.events.each do |event|
  %dl.panel{ class: "panel-#{bootstrap_class_for(event.status)}" }
    .panel-heading
      .row
        .col-xs-9
          = icon_with_text('envelope', booking.user_email)
        .col-xs-3.text-right
          %span.label{ class: "label-#{bootstrap_class_for(event.status)}" }= t("bookings.statuses.#{event.status}")
    .panel-body
      .row
        .col-xs-12.col-md-4
          %dt= icon_with_text('time', t('.booking_date'))
          %dd= l booking.created_at, format: :long
        .col-xs-12.col-md-4
          %dt= icon_with_text('time', t('.start_date'))
          %dd= l event.start_date, format: :long
        .col-xs-12.col-md-4
          %dt= icon_with_text('time', t('.end_date'))
          %dd= l event.end_date, format: :long
      - unless booking.comment.blank?
        %hr
        .row
          .col-xs-12
            %dt= icon_with_text('comment', t('.comment'))
            %dd= booking.comment
      - unless event.feedback.blank?
        %hr
        .row
          .col-xs-12
            %dt= icon_with_text('pencil', t('.feedback'))
            %dd= event.feedback
