= title

%p
  = link_to backend_resource_bookings_path(@resource) do
    = icon_with_text 'chevron-left', t('.return_to', resource_name: @booking.resource.name)

%p
  %strong= t('.booking_info_html', resource: @booking.resource.name_prefixed_with_resource_type, user: @booking.user.email, start_date: l(@booking.start_date, format: :long), end_date: l(@booking.end_date, format: :long))

.panel.panel-info
  .panel-heading
    = t('.reallocate_booking_header')
  .panel-body
    - if @resources.any?
      %p= t('.reallocate_booking_message')

      = simple_form_for @booking, url: backend_resource_booking_path(@resource.id, @booking.id) do |f|
        = render_model_base_errors f.object

        .row
          .col-xs-12.col-sm-4
            = f.association :resource, collection: @resources, label_method: :name_prefixed_with_resource_type, include_blank: false
        = f.button icon_with_text('ok', t('.update')), class: 'btn btn-primary'
    - else
      %p= t('.no_resources_availables_message')

.panel.panel-danger
  .panel-heading
    = t('.cancel_booking_header')
  .panel-body
    %p= t('.cancel_booking_message')

    = simple_form_for @booking_form, url: backend_resource_booking_path(@resource.id, @booking.id), method: :delete do |f|
      = f.input :reason, as: :text, input_html: { rows: 5 }
      = f.button icon_with_text('remove', t('.cancel')), class: 'btn btn-danger'

