%h3= t('.manage')

%ul.nav.nav-pills.nav-stacked
  - if @current_user.has_any_role? :admin, :manager
    %li{ class: "#{active_class_for('backend/resources')}" }
      = link_to t('.resources'), backend_resources_path
  - if @current_user.has_any_role? :admin
    %li{ class: "#{active_class_for('backend/resource_types')}" }
      = link_to t('.resource_types'), backend_resource_types_path
  - if @current_user.has_any_role? :admin
    %li{ class: "#{active_class_for('backend/users')}" }
      = link_to t('.users'), backend_users_path
