= title

.row
  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-heading
        = t('.password_title')
      .panel-body
        = devise_error_messages!
        = simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f|
          = f.input :email, autofocus: true
          = f.submit t('.send_me_reset_instructions'), class: 'btn btn-primary'
        %hr
        .row
          .col-xs-12
            = link_to t('.sign_in'), new_session_path(resource_name)
