= content_for :email_body do
  = t('.body_html')

  %strong= "#{t('.label_resource_type_name')}: "
  %span= @params[:resource_type_name]
  %br

  %strong= "#{t('.label_resource_name')}: "
  %span= @params[:resource_name]
  %br

  %strong= "#{t('.label_start_date')}: "
  %span= @params[:start_date]
  %br

  %strong= "#{t('.label_end_date')}: "
  %span= @params[:end_date]
  %br

  %strong= "#{t('.label_cancelation_reason')}: "
  %span= @params[:cancelation_reason]
  %br
