= content_for :email_body do
  %strong= "#{t('.label_event_id')}: "
  %span= @params[:event_id]
  %br

  %strong= "#{t('.label_resource_type_name')}: "
  %span= @params[:resource_type_name]
  %br

  %strong= "#{t('.label_resource_name')}: "
  %span= @params[:resource_name]
  %br

  %strong= "#{t('.label_start_date')}: "
  %span= @params[:start_date]
  %br

  %strong= "#{t('.label_end_date')}: "
  %span= @params[:end_date]
  %br
