.col-xs-12.col-sm-12
  %dl.panel{ class: "panel-#{bootstrap_class_for(event.status)} panel-event", id: "event-#{event.id}" }
    .panel-body
      .row
        .col-xs-6
          %p
            %dt= icon_with_text('pushpin', t('.status'))
            %dd
              %span.label{ class: "label-#{bootstrap_class_for(event.status)}" }= t("mybookings.events.statuses.#{event.status}")

        .col-xs-6
          %p
            %dt= icon_with_text('briefcase', t('.resource'))
            %dd
              %small= link_to event.resource_name, backend_resource_path(event.resource)

      .row
        .col-xs-6
          %p
            %dt= icon_with_text('time', t('.start_date'))
            %dd
              %small= l event.start_date, format: :long

        .col-xs-6
          %p
            %dt= icon_with_text('time', t('.end_date'))
            %dd
              %small= l event.end_date, format: :long

      - if event.has_feedback?
        %hr
        .row
          .col-xs-12
            %dt= icon_with_text('pencil', t('.feedback'))
            %dd= event.feedback

      - if event.pending?
        %hr
        = link_to t('.cancel_event'), backend_resource_event_delete_confirmation_path(event.resource.id, event.id)
