= title_for_html

= content_for :body_classes, 'homepage'

= content_for :jumbotron do
  %h1= t('app_name')
  %p= t('.promo_message')
  %p= link_to icon_with_text('user', t('.sign_in')), new_user_session_path, class: 'btn btn-primary btn-lg'
