= content_for :content do
  .row
    #admin-menu.col-xs-12.col-md-2
      = render 'admin/admin_menu'
    .col-xs-12.col-md-9.col-md-offset-1
      = render 'page_title'
      = render 'actions'
      = yield

= render template: 'layouts/application'
