!!!
%html
  = render 'head'
  %body{ class: (yield(:body_classes) if content_for :body_classes) }
    = render 'navbar'

    - if content_for :jumbotron
      .jumbotron
        .container
          = yield :jumbotron

    .container

      - unless notice.nil?
        .alert.alert-info= notice
      - unless alert.nil?
        .alert.alert-warning= alert

      - if content_for :page_title
        .page-header
          %h1= yield :page_title

      - if content_for :actions
        %p= yield :actions

      = yield
