!!!
%html
  = render 'head'
  %body{ class: body_classes }
    = render 'navbar'

    = yield :jumbotron

    .container

      - unless notice.nil?
        .alert.alert-info= notice
      - unless alert.nil?
        .alert.alert-warning= alert

      - if content_for :page_title
        .page-header
          %h1= yield :page_title

      = yield
